# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Countdown/Debug/ColorStatic.sbr
Countdown/.vs/
Countdown/Debug/
*.opt
*.plg
Countdown/Countdown.vcxproj.filters
RPi/startrobot/startrobot.dev
RPi/startrobot/startrobot.layout
*.pdb
*.tlog
Countdown/Release/Countdown.log
*.res
*.ilk
*.ipch
StartListEditor/.vs/StartListEditor/v15/.suo
StartListEditor/.vs/StartListEditor/v15/Browse.VC.opendb
StartListEditor/StartListEditor/Debug/StartListEditor.log
StartListEditor/StartListEditor.sln
StartListEditor/StartListEditor/res/StartListEditor.ico
StartListEditor/StartListEditor/res/StartListEditor.rc2
StartListEditor/.vs/StartListEditor/v15/Browse.VC.db
StartListEditor/StartListEditor/Debug/vc141.idb
StartListEditor/StartListEditor/StartListEditor.vcxproj.user
StartListEditor/StartListEditor/StartListEditor.aps
*.user
*.aps
